* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', 'Trebuchet MS', sans-serif;
    line-height: 1.4;
    color: #000;
    background-color: #f3f3f5;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 15px;
    width: 100%;
}

.displaynone {
    display: none !important;
}
